/* TaskList.css */

input[type="text"] {
  margin-bottom: 1rem;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.general-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.general-table th,
.general-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.general-table th {
  background-color: #1a95e7;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
  font-size: 20px;
  text-align: center;
}

.general-table tr {
  border: black, 2px, solid;
}

.general-table th:hover {
  background-color: #1d4bb8;
}

.general-table tr:nth-child(even) {
  background-color: #fafafa;
}

.general-table tr:hover {
  background-color: #f1f1f1;
}

.input-search{
    text-align: center;
    height: 50px;
    color: rgb(95, 93, 93);
}
